body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: white ;
    color: black;
    transition: margin-left 0.3s ease;
  }



  
  .divStyle img{
    width: 120%; /* Set image width to fill container */
    height: 150px;
    display: block; /* Remove default image spacing */
    border-bottom: black 1px solid;
    position: relative;
    right: 20px;
  }
  
  
  .bigDiv {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  position: fixed;
  left: 570px;
  bottom: 280px;
  }